/* src/paginas/LoginUsuariosSeguridad/estilosSeguridad.css */

/* CONTENEDOR */
.LoginSeguridad-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* LOGO */
.LoginSeguridad-Logo {
  width: 120px;
  margin-bottom: 20px;
}

/* TÍTULO */
.LoginSeguridad-titulo {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* FORMULARIO */
.LoginSeguridad-formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* INPUTS */
.LoginSeguridad-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.LoginSeguridad-password-wrapper {
  position: relative;
}

.LoginSeguridad-input-password {
  padding-right: 40px;
}

/* BOTÓN OJO */
.LoginSeguridad-ojito {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* BOTÓN INGRESAR */
.LoginSeguridad-boton {
  width: 100%;
  padding: 10px;
  background-color: #215511;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.LoginSeguridad-boton:hover:not(:disabled) {
  background-color: #14500b8b;
}

.LoginSeguridad-boton:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* ERROR */
.LoginSeguridad-error {
  margin-top: 10px;
  color: red;
  text-align: center;
}
