/* Archivo: P1InformarDocumentos.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.P1InformarDocumentos-contenedor-principal{
  overflow-y: auto;
  height: 100%;
}

.P1InformarDocumentos-titulo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Para asegurarte de que esté por encima del resto del contenido */
}

.P1InformarDocumentos-contenedor-principal {
  margin-top: 50px; /* Altura del título fijo */
  overflow-y: auto;
  height: 100%;
}


.P1InformarDocumentos-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.P1InformarDocumentos-seccion {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 400px;
}

.P1InformarDocumentos-subtitulo {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #545657;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.P1InformarDocumentos-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.P1InformarDocumentos-item {
  font-size: 1rem;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.P1InformarDocumentos-item:last-child {
  border-bottom: none;
}

