/* src/Paginas/PedidosCompletados.css */

.PedidosCompletados-contenedor {
  background-color: #efefef;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.PedidosCompletados-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
  gap: 1rem;
}

.PedidosCompletados-select {
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  border: none;
  background: transparent;
  cursor: pointer;
  flex: 1 1 auto;
  max-width: 400px;
  text-align: center;
  padding: 0;
}

.PedidosCompletados-select option {
  font-size: 1.6rem;
}

.PedidosCompletados-select:focus {
  outline: none;
}

.PedidosCompletados-botonCerrar {
  max-width: 80px;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.PedidosCompletados-botonCerrar:hover {
  background-color: #c9302c;
}

.PedidosCompletados-iconoCerrar {
  font-size: 1.2rem;
}

.PedidosCompletados-cuerpo {
  /* flex: 1 1 auto; */
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .PedidosCompletados-select {
    font-size: 1.2rem;
    max-width: 100%;
  }

  .PedidosCompletados-select option{
    font-size: 0.9rem;
  }

  .PedidosCompletados-botonCerrar {
    justify-content: center;
  }
}