/* Contenedor principal */
.contenedorManifiestos-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Cabecera */
  .contenedorManifiestos-cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .contenedorManifiestos-logo {
    width: 50px;
    height: auto;
  }
  
  .contenedorManifiestos-titulo{
    width: 100%;
    max-width: 400px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
  }

  .contenedorManifiestos-titulo :nth-child(2) {
    color:rgb(141, 199, 63);
  }
  
  /* Contenedor de los botones */
  .contenedorManifiestos-estados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Botones */
  .contenedorManifiestos-linkBoton {
    width: 100%;
    margin-bottom: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  
  .contenedorManifiestos-linkBoton:last-child {
    margin-bottom: 0;
  }
  
  /* Estilo para títulos y botones en dispositivos móviles */
  @media (max-width: 600px) {
  
    .contenedorManifiestos-estados {
      width: 100%;
    }
  }
  