/* Estilo para el contenedor principal */
.contenedorManifiestos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    background-color: #f4f4f9; /* Fondo ligero para mayor contraste */
    box-sizing: border-box;
}

/* Título principal */
.contenedorManifiestos h1 {
    font-size: 2rem;
    color: #333;
    text-align: left;
    width: 100%;
    max-width: 400px; /* Limita el ancho del título */
}



/* Contenedor para los estados de manifiestos */
.contenedorEstadosManifiestos {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco para mayor claridad */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más definida */
    box-sizing: border-box;
    margin-bottom: 10px; 
}

/* Estilo para el enlace del botón */
.linkBoton {
    width: 100%;
    max-width: 400px;
    /* margin-top: 20px; */
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
}


/* Cabecera fija en la parte superior */
.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 0px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0; /* Añadir borde inferior */
    padding:20px; /* Añadir margen inferior para separación */
}

/* Estilo para los elementos dentro de la cabecera */
.cabecera div {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #333;
}

/* Asegura que el contenido no quede oculto debajo de la cabecera */
.contenedorManifiestos {
    padding-top: 50px; /* Deja espacio para la cabecera fija */
}
