/* ESTILOS REGISTRO CONDUCTOR */
.RegConductor-Contenedor {
    margin: 20px auto;
    display: flex;
    width: 100%;
    max-width: 450px;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fff;
}
  
.RegConductor-Logo {
    width: 100px;
    margin-bottom: 10px;
}
  
.RegConductor-Titulo {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 10px;
    justify-content: center;
}
.RegConductor-Titulo h1:nth-child(1) { color: #333; margin: 0; }
.RegConductor-Titulo h1:nth-child(2) { color: #8dc73f; margin: 0; }

.RegConductor-Subtitulo {
    color: #444;
    margin-bottom: 20px;
}
  
.RegConductor-Formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.RegConductor-InputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}
.RegConductor-InputGroup label {
    font-weight: 600;
    font-size: 0.9rem;
    color: #555;
}
  
.RegConductor-InputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
  
.RegConductor-Input {
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
.RegConductor-Input:focus {
    border-color: #8dc73f;
    outline: none;
}

/* Estilo adicional para el Select */
.RegConductor-Select {
    background-color: #fff;
    cursor: pointer;
    appearance: none; 
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 12px top 50%;
    background-size: 10px auto;
}
  
.RegConductor-VerBtn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
  
.RegConductor-Boton {
    padding: 14px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}
.RegConductor-Boton:hover {
    background-color: #333;
}
  
.RegConductor-Error {
    color: #d9534f;
    background-color: #fce4e4;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.RegConductor-LinkLogin {
    color: #000080;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
}