.SalaEspera-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9; /* Fondo suave */
}

.SalaEspera-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem; /* Espaciado más amplio */
}

.SalaEspera-descripcion {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.SalaEspera-boton {
  display: inline-block;
  padding: 0.5rem 1rem; /* Botón más grande */
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #000000;
  text-decoration: none;
  border-radius: 8px; /* Bordes más redondeados */
  transition: all 0.3s ease; 
  margin: 10px;
  cursor: pointer;
}

.SalaEspera-boton:hover {
  background-color: #333333; /* Color de hover más oscuro */
  transform: scale(1.05); /* Efecto de zoom */
}

.SalaEspera-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SalaEspera-loader p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #666;
}

.SalaEspera-logo {
  width: 120px;
  margin-bottom: 20px;
}

.SalaEspera-cerrar-sesion {
  cursor: pointer;
  color: #f44336; 
  font-size: 16px;
  text-decoration: underline;
  transition: color 0.3s ease;
  margin-top: 40px; 
  display: inline-block;
  padding: 10px 20px; /* Agregado un poco de padding */
  text-align: right;
}

.SalaEspera-cerrar-sesion:hover {
  color: #d32f2f; /* Cambiar color al pasar el mouse */
}

.SalaEspera-cerrar-sesion-container {
  display: flex;
  justify-content: flex-end; /* Mover a la derecha */
  padding-right: 20px; /* Espacio a la derecha */
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
  .SalaEspera-contenedor {
    justify-content: start;

  }  
}

