.tarjeta-detalle {
  border: 1px solid #4a4a8a; /* Color del borde */
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px;
  width: 250px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin-bottom: 15PX;
}

.tarjeta-detalle p {
  margin: 5px 0;
  font-size: 1rem;
}

.tarjeta-detalle strong {
  color: #333; /* Color del texto para los títulos */
}


